html {
  font-family: Nunito, sans-serif;
}

header, footer {
  position: relative;
  background-color: #15468f;
  text-align: center;
}

.foot {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #1fc6fb;
}

.bloop {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color: #15468f;
  color: #fff;
  border-color: #15468f;
  border-radius: 8px;
}

.btn:hover {
  background-color: #1fc6fb;
  color: #fff;
  border-color: #1fc6fb;
}

.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 24rem;
}

textarea, input, select {
  border-radius: 10px;
  border-color: #fff;
}

main {
  background-color: #fff;
}

.card {
  background-color: rgba(31, 198, 251, .3);
  position: relative;
}

.box {
  border-style: solid;
  border-radius: 20px;
  border-color: #fff;
  background-color: rgba(31, 198, 251, .3);
}

.banner-one {
  background-image: url("../images/city.jpg");
  background-size: 100% 100%, cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-two {
  background-image: url("../images/keyboard.jpg");
  background-size: 100% 100%, cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-color {
  color: #fff;
}

.quote {
  max-width: 100%;
}

.embed-fatima {
  padding-top: 50%;
}

th, td {
  border-bottom: 1px;
}

@media only screen and (min-width: 38em) {

  .img-flex {
    width: 50%;
  }

  .naav {
    text-align: right;
  }

}
