html {
  font-family: "Nunito", sans-serif;
}

header, footer {
  position: relative;
  background-color: #15468f;
  text-align: center;
}

.foot {
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #1fc6fb;
}

.bloop {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color: #15468f;
  color: #fff;
  border-color: #15468f;
  border-radius: 8px;

}

.btn:hover {
  background-color: #1fc6fb;
  color: #fff;
  border-color: #1fc6fb;
}

.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 24rem;
}

textarea, input, select {
  border-radius: 10px;
  border-color: #fff;
}

main {
  background-color: #fff;
}

.box {
  background-color: #e2e2e2;
  border-style: solid;
  border-radius: 20px;
  border-color: #fff;
  margin-top: 2em;
  /*setting alpha = 0.1*/
  background-color: rgba(31, 198, 251, 0.3);
}

.card {
  background-color: #e2e2e2;
  border-style: solid;
  border-radius: 20px;
  border-color: #fff;
  margin-top: 2em;
  /*setting alpha = 0.1*/
  background-color: rgba(31, 198, 251, 0.3);
}

.banner-simple {
  background-image: url("../images/city.jpg");
  background-size: 100% 100%, cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-simple-2 {
  background-image: url("../images/keyboard.jpg");
  background-size: 100% 100%, cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-color {
  color: #fff;
}

@media only screen and (min-width: 38em) {

 .img-flex {
   width: 50%;
 }

 .naav {
   text-align: right;
 }

}
